#navbar-container {
    padding-left: 75px;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    background: -webkit-linear-gradient(rgba(233, 233, 233, 1.0), rgb(214, 214, 214) 50px, #EDEDED, #EDEDED 50px);
}

.navbar .navbar-nav > li > a {
    color: #2c3e50;
}

.navbar .navbar-brand {
    color: #2c3e50;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
}

#header-search{
    margin-right: 10px;
}

#btn-newMail {
    margin-top: 10px;
}

.btn-square.btn-search {
    margin-top: 0;
}