@import "css/navbar.css";
@import "css/sidebar.css";
@import "css/prefs.css";

body {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
}

.btn-square {
    height: 30px;
    width: 35px;
    padding: 0;
    background-color: #fff;
    border: 1px solid #bdc3c7;
}

#reg-content {
    margin-top: 40px;
}

